<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>GoLang Quiz </title>
</head>
<body>
    <h1>{{ .Title }}</h1>
    
    <ul>
        {{ range .Quiz }}
            {{ if .Answered }}
                <li class="done">{{.Question}}</li>
            {{ else }}
                <li>{{.Question}}</li>
            {{ end }}
        {{ end }}
    </ul>

    <script src="/static/js/script.js" type="text/javascript"></script>
</body>
</html>